<h1>List of Eligible Sports</h1>

<ul>
  <li>Soccer</li>
  <li>Basketball</li>
  <li>Softball</li>
  <li>Kickball</li>
  <li>Dodgeball</li>
  <li>Volleyball</li>
  <li>Hockey</li>
  <li>Football</li>
</ul>
